@tailwind base;
@tailwind components;
@tailwind utilities;

/* rehype-pretty-code */
[data-rehype-pretty-code-figure] {
  @apply my-2 not-italic;
}

[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title]) pre {
  @apply rounded-t-none border-t-0;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-gray-200 bg-gray-100 px-4 py-3 text-sm text-gray-500;
}

[data-rehype-pretty-code-figure] pre {
  @apply rounded-lg border border-gray-200 px-2 py-2;
}

[data-rehype-pretty-code-figure] code {
  @apply overflow-x-auto px-2 py-1;
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  @apply mr-4 inline-block w-4 text-right text-gray-400;
}

[data-line] {
  @apply px-1;
}

[data-highlighted-line] {
  @apply bg-yellow-100 bg-opacity-70;
}

[data-highlighted-chars] {
  @apply bg-yellow-100 bg-opacity-70 px-1.5 py-0.5;
}

/* rehype-autolink-headings */
a.heading-anchor {
  @apply no-underline hover:underline;
}

a.heading-anchor::after {
  content: "#";
  @apply ml-2 hidden w-0 text-gray-300 hover:inline-block;
}
